<h1>Calculate the square of a number</h1>

<form action="/square/results">
  <label for="turtle">Enter a number</label>

  <input id="turtle" type="text" name="users_number">

  <button>Calculate Square</button>
</form>
